/* CSS reset */
    body{
        font-family: 'Baloo Bhai 2', cursive;
        color: white;
        margin: 0px;
        padding: 6px;
        background: url(image_gym/img11.jpg);
        
       
    }
    .left{
        position: absolute;
        left: 34px;
        top: 18px;
        display: inline-block;
        

    }
    .mid{
        display: block;
        /* in block whole width covers up but we have given the width here; */
        width: 43%; 
        margin: 18px auto;
        /* Three condition to bring into the center...display(block)..give width..give margin(x axis auto) */
       

    }
    .right{
        position: absolute;
        right: 34px;
        top: 18px;
        display: inline-block;
        

    }
    .navbar{
        display: inline-block;
    }
    .navbar li{
        /* Due to inline block li appear in line */
        display: inline-block;
    }
    .navbar li a{
        color: white;
        /* a r tolor line tu nikia hoi jbo */
        text-decoration: none;
        padding: 34px 23px;
    }
    .navbar li a:hover, .navbar li a.active{
        text-decoration: underline;
        color: grey;
    }
    .left img{
        width: 90px;
    }
    .left div{
        text-align: center;
    }
    .btn{
        font-family: 'Baloo Bhai 2', cursive;
        margin: 0px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 10px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: rgb(68, 67, 67);
    }
    .container{
        border: 2px solid white;
        margin: 80px 34px ;
        padding: 20px;
        width: 43%;
        border-radius: 20px;
    }
    .form_grp input{
        font-family: 'Baloo Bhai 2', cursive;
        text-align: center;
        display: block;
        width: 375px;
        padding: 6px;
        border: 2px solid black;
        margin: 3px auto;
        font-size: 14px;
    }
    .container h1{
        text-align: center;
    }
    .container button{
        display: block;
        width: 89%;
        margin: 25px auto;
    }
