/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
/* Navigation Bar: Logo and Image */
#logo{
    margin: 1px 7px;
}
#logo img{
    height: 56px;
    margin: 1px 27px;
    border-radius: 100%;
}

/* Navigation Bar: List Styling */

#navbar ul{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* z-index---> bringsback the navbar above it */
    z-index: -1;
    opacity: 0.65;
}
#navbar ul li{
    color: white;
    /* Dots will disapear */
    list-style: none;
}
#navbar ul li :hover{
    color: black;
    background-color: white;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}


/* Home section */
#home{
    display: flex;
    flex-direction: column;
    height: 220px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url(../pic/carrots-673184.jpg);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 325px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;

}
#home h1{
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    text-align: center;
}
#home p{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
    font: 1.5rem;
}

/* Services */
#service{
    margin: 20px;
    display: flex;
}
/* .services-container::before{
    content: "";
    position: absolute;
    background: url('../pic/raspberries-2023404_1920.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
} */
#service .box{
    font-family: 'Baloo Bhai 2', cursive;
    border: 2px solid brown;
    padding: 15px;
    margin: 30px;
    border-radius: 23px;
    background-color: #efe9e9;
}
#service .box img{
    height: 100px;
    margin: auto;
    display: block;
    /* Display should be block and margin is auto....img will come middle */
}


/* Cleint section */
#cleint-section{
    position: relative;
    
}
#cleints{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cleints img{
    height: 124px;
}
.cleint-item{
    padding: 1px;
}
#cleint-section::before{
    content: "";
    position: absolute;
    background: url('../pic/oranges-1117628.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}

/* contact section */
#contact{
    /* position relative.... takes space only as much needed  */
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../pic/apple-256263_640.jpg);
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 9px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}
footer{
    background: black;
    color: white;
}
/* Utility class */
.h-primary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3.2rem;
    padding: 30px;
    
}
.h-secondary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.3rem;
    padding: 12px;
}
.btn{
    padding: 6px 37px;
    border: 1px solid white;
    background-color: rgba(79, 110, 49, 0.877);
    color: white;
    margin: 11px;
    font-size: 1.25rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
}
.center{
    text-align: center;
}

